/* clear default */
html{
    box-sizing: border-box;
    font-family: "M";
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{
                 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* clear default end */

/* header styles begin */

/* header styles end */