/* clear default */
html {
    box-sizing: border-box;
    font-family: "M";
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* clear default end */


/* inter-regular - cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/inter-v8-cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v8-cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-800 - cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('../fonts/inter-v8-cyrillic-800.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v8-cyrillic-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/pt-sans-v16-cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/pt-sans-v16-cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-regular - cyrillic */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/pt-serif-v16-cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/pt-serif-v16-cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* common style begn */
html {
    scroll-behavior: smooth;
    animation: bodyOpacityAnimation .6s;
}

body {
    background: #99BAEB;
    
}

.hidden {
    opacity: 0;
}

.background-transparent {
    background-color: #00000057;
    color: black;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hi-radius-btn {
    display: block;
    margin-top: 20px;

    color: rgb(255, 255, 255);
    background: #5C87C8;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    text-decoration: none;
    padding: 15px;
    text-align: center;

    transition-duration: .3s;
}

.hi-radius-btn:hover {

    color: rgb(255, 255, 255);
    background: #3864ab;
}

.low-radius {
    padding: 5px;
    text-align: center;
    background: #5C87C8;
    border-radius: 10px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: white;
}

.radius {
    border-radius: 20px;
}

@keyframes opacityAnimation{
    from{
        opacity: 0;
        transform: scale(150%) rotate(90deg);
    }
    to{
        opacity: 100%;
        transform: scale(100%) rotate(0);    
    }
}

.active{
    animation-name: blockActiveAnimation;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes bodyOpacityAnimation{
    from{
        opacity: 30%;
        transform: scale(103%) rotate(.5deg);
    }
    to{
        opacity: 100%;
        transform: scale(100%) rotate(0);    
    }
}
/* common style end */

/* header style begin */
.header {
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 999;
    display: flex;
    align-items: center;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    z-index: 10;

    transition-duration: .6s;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-self: center;
}

.header__item:last-child {
    margin-right: 0;
}

.header__nav-link {
    text-decoration: none;
    color: white;

}

.header__logo-pic {
    max-height: 100px;
}

/* header style end */


/* intro style begin */
.intro {
    position: relative;
    height: 1015px;

    display: flex;
    overflow: hidden;
    justify-content: center;
}

.intro__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    min-width: 100%;
    min-height: 100%;
    align-self: center;
}

.intro__header {
    margin-top: 697px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    color: white;
}

/* intro style end */

/* sights style begin */
/* .sights .block__header{
    padding-top: 80px;
} */
/* sights style end */


/* block style begin */
@keyframes blockActiveAnimation {
    from{
        opacity: 0%;
        transform: translate(0, 100px);
    }
    to{
        opacity: 100%;
        transform: translate(0, 0);
    }
}

.opacity-start{
    opacity: 0%;
}

.block {
    height: 970px;
    position: relative;
}

.block__header-row {
    margin-bottom: 126px;
    padding-top: 80px;
}

.block__header {
    align-self: center;
    text-align: center;


    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;

    color: white;
}

.block__background {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    z-index: -1;

    width: 100%;
    height: 373px;

    background: #5C87C8;
}

.block__carousel {
    height: 310px;
}

.block__cart {
    height: 310px;
    position: relative;

    display: flex;
    overflow: hidden;
    justify-content: center;
}

.block__cart-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-self: center;

    transition-duration: .7s;
}

.block__cart:hover .block__cart-image{
    transform: scale(1.025);
    align-self: center;
}

.block__link {
    display: flex;
    width: 100%;
    height: 100%;
    color: black;

    transition-duration: .6s;
}

.block__link:hover {
    color: black;
}

.block__cart-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    min-height: 136px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: rgba(255, 255, 255, 0.8);
    transition-duration: .3s;
    opacity: 0;
}

/* the slides */
.slick-slide {
    margin: 0 15px;
}

/* the parent */
.slick-list {
    margin: 0 -15px;
}

/* block style end */


/* jobs style begin */
.jobs__carts {
    height: 385px;
}

.jobs__item {
    display: flex;
    flex-direction: column;
    padding: 10px;

    position: relative;
    height: 385px;
    width: 100%;
    background: #EFEFEF;
    border-radius: 50px;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    overflow: hidden;
}

.job-link{
    text-decoration: none;
    color: black
}

.job-link:hover{
    color: rgb(26, 95, 191)
}

.cart__caption {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.jobs .block__header-row {
    margin-bottom: 100px;
}

.cart__break-line {
    height: 1px;
    background-color: black;
}

.cart__description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}

/* jobs style end */

/* history style begin */
.history {
    height: 750px;
}

.history__cart {
    height: 230px;
}

/* history style end */