.sight {
    margin-top: 150px;
}

.back-arrow {
    background: url(/static/img/back-arrow.svg) no-repeat center;
    background-size: 50px;
}

.sight__header{
    align-self: center;
    text-align: center;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    color:white;
}

.sight__images-wraper {
    margin-bottom: 80px;
}

.sight .block__carousel{
    margin-bottom: 100px;
}

.sight__content{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: justify;
    color: white;
    
    margin-bottom: 100px;
}