{% extends 'RezhApp/base.html' %}
{% load static %}
{% block title %}
Реж - наш город
{% endblock %}

{% block content %}
<div id="intro" class="intro">
    <img src="media/Intro.jpg" alt="" class="intro__image">
    <div class="container">
        <div class="row">
            <div class="col-7 offset-5">
                <h1 class="intro__header">Реж <span class="animation-header"> - город возможностей</span></h1>
            </div>
        </div>
    </div>
</div>
{% include 'includes/sights.html' %}
{% include 'includes/jobs.html' %}
{% include 'includes/productions.html' %}
{% include 'includes/histiories.html' %}
{% endblock %}