<header class='header' id='header'> 
    <div class='container'>
        <div class="grid">
            <div class='header__logo pc-col-5'>
                <a href='/' class='header__self-link'>
                    <img src='/static/img/rezh-logo-ico.png' alt='' class='header__logo-pic'>
                </a>
            </div>
            <nav class='header__nav pc-col-7'>
                <ul class='header__list'>
                    <li class='header__item'>
                        <a href='#' class='header__nav-link'>История</a>
                    </li>
                    <li class='header__item'>
                        <a href='#' class='header__nav-link'>Достопримечательности</a>
                    </li>
                    <li class='header__item'>
                        <a href='#' class='header__nav-link'>Производство</a>
                    </li>
                    <li class='header__item'>
                        <a href='#' class='header__nav-link'>Вакансии</a>
                    </li>
                    <li class='header__item'>
                        <a href='#' class='header__nav-link'>Карта</a>
                    </li>
                    <li class='header__item'>
                        <a href='#' class='header__nav-link'>Игра</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>