{% load static %}

<header class='header' id='header'>
    <div class='container'>
        <div class="row">
            <div class="col-4">
                <div class='header__logo'>
                    <a href='/' class='header__self-link'>
                        <img src="{% static '/img/Logo.png' %}" alt='' class='header__logo-pic'>
                    </a>
                </div>
            </div>
            <div class="col-8">
                <nav class='header__nav'>
                    <ul class='header__list nav'>
                        <li class='header__item nav-item'>
                            <a href='/#intro' class='header__nav-link nav-link'>Главная</a>
                        </li>
                        <li class='header__item nav-item'>
                            <a href='/#sights' class='header__nav-link nav-link'>Достопримечательности</a>
                        </li>
                        <li class='header__item nav-item'>
                            <a href='/#production' class='header__nav-link nav-link'>Производство</a>
                        </li>
                        <li class='header__item nav-item'>
                            <a href='/#jobs' class='header__nav-link nav-link'>Вакансии</a>
                        </li>
                        <li class='header__item nav-item'>
                            <a href='/map' class='header__nav-link nav-link'>Карта</a>
                        </li>
                        <li class='header__item nav-item'>
                            <a href='/#' class='header__nav-link nav-link'>Игра</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>