<div id="history" class="block history scroll-reveal opacity-start">
    <div class="container">
        <div class="row block__header-row">
            <div class="col-2">
                <a class="hi-radius-btn" href="/victorina.html">
                    Викторина
                </a>
            </div>
            <div class="col-8">
                <h2 class="block__header">История</h2>
            </div>
        </div>
        <div class="row">
            {% for history in histories%}
                {%if not history.nested %}
                    <div class="col-3">
                        <div class="block__cart history__cart">
                            <a href="/history/{{history.id}}" class="block__link">
                                <img src="/media/{{ history.images.all.0.img }}" alt="" class="block__cart-image radius">
                                <div class="block__cart-caption radius">
                                    {{history.title}}
                                </div>
                            </a>
                        </div>
                    </div>
                {%endif%}
            {% endfor %}
        </div>
    </div>
</div>