<div id="jobs" class="block jobs scroll-reveal opacity-start">
    <div class="block__background"></div>
    <div class="container">
        <div class="row block__header-row">
            <h2 class="block__header">Вакансии</h2>
        </div>
        <div class="jobs__carts row">
            <div class=" col">
                <div class="jobs__item">
                    <div class="cart__caption">
                        Рабочий в шахту
                    </div>                        
                    <div class="cart__break-line"></div>
                    <div class="cart__description">
                        Махать киркой в темноте долго, добывать уголь
                    </div>
                </div>
            </div>            
            <div class=" col">
                <div class="jobs__item">
                    <div class="cart__caption">
                        Рабочий в шахту
                    </div>                        
                    <div class="cart__break-line"></div>
                    <div class="cart__description">
                        Махать киркой в темноте долго, добывать уголь
                    </div>
                </div>
            </div>      
            <div class=" col">
                <div class="jobs__item">
                    <div class="cart__caption">
                        Рабочий в шахту
                    </div>                        
                    <div class="cart__break-line"></div>
                    <div class="cart__description">
                        Махать киркой в темноте долго, добывать уголь
                    </div>
                </div>
            </div>      
            <div class=" col">
                <div class="jobs__item">
                    <div class="cart__caption">
                        Рабочий в шахту
                    </div>                        
                    <div class="cart__break-line"></div>
                    <div class="cart__description">
                        Махать киркой в темноте долго, добывать уголь
                    </div>
                </div>
            </div>      
            <div class=" col">
                <div class="jobs__item">
                    <div class="cart__caption">
                        Рабочий в шахту
                    </div>                        
                    <div class="cart__break-line"></div>
                    <div class="cart__description">
                        Махать киркой в темноте долго, добывать уголь
                    </div>
                </div>
            </div>      
            <div class=" col">
                <div class="jobs__item">
                    <div class="cart__caption">
                        Рабочий в шахту
                    </div>                        
                    <div class="cart__break-line"></div>
                    <div class="cart__description">
                        Махать киркой в темноте долго, добывать уголь
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>