<div class="jobs block">
    <div class="block__carusel-background"></div>
    <div class="container">
        <div class="grid">
            <div class="empty pc-col-3"></div>
            <h2 class="block__header pc-col-6">Вакансии</h2>
        </div>
        <div class="grid block-carusel">
            <!-- Пример наполнения должен происходить цикл-->
            <div class="jobs__carusel-cart pc-col-2">
                <p class="cart__caption">Пекарь</p>
                <div class="cart__break-line"></div>
                <p class="cart__description">Описание вакансии</p>
            </div>
            <div class="jobs__carusel-cart pc-col-2">
                <p class="cart__caption">Пекарь</p>
                <div class="cart__break-line"></div>
                <p class="cart__description">Описание вакансии</p>
            </div>
            <div class="jobs__carusel-cart pc-col-2">
                <p class="cart__caption">Пекарь</p>
                <div class="cart__break-line"></div>
                <p class="cart__description">Описание вакансии</p>
            </div>
            <div class="jobs__carusel-cart pc-col-2">
                <p class="cart__caption">Пекарь</p>
                <div class="cart__break-line"></div>
                <p class="cart__description">Описание вакансии</p>
            </div>
            <div class="jobs__carusel-cart pc-col-2">
                <p class="cart__caption">Пекарь</p>
                <div class="cart__break-line"></div>
                <p class="cart__description">Описание вакансии</p>
            </div>
            <div class="jobs__carusel-cart pc-col-2">
                <p class="cart__caption">Пекарь</p>
                <div class="cart__break-line"></div>
                <p class="cart__description">Описание вакансии</p>
            </div>
        </div>
        <div class="grid">
            <div class="empty pc-col-5"></div>
            <a href="#!" class="block__more pc-col-2">Узнать больше</a>
        </div>
    </div>
</div>