<div id="production" class="block production scroll-reveal opacity-start">
    <div class="block__background"></div>
    <div class="container">
        <div class="row block__header-row">
            <div class="col">
                <h2 class="block__header">Производство</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="block__carousel overflow-hidden">
                    {% for production in productions%}
                    <div class="block__cart">
                        <div href="/sight.html" class="sight__link block__link">
                            <img src="/media/{{ production.images.all.0.img }}" alt="" class="block__cart-image radius">
                            <div class="block__cart-caption radius">
                                {{production.title}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>