<div class="production block">
    <div class="block__carusel-background"></div>
    <div class="container">
        <div class="grid">
            <div class="empty pc-col-3"></div>
            <h2 class="block__header pc-col-6">Производство</h2>
        </div>
        <div class="grid block-carusel">
            {% for production in productions|slice:":3" %}
                <div class="carusel__cart pc-col-4">
                    {{production}}
                    {{production.images.all.0.img}}
                    <img src="/media/{{ production.images.all.0.img }}" alt="" class="carusel__cart-img">
                    <div class="carusel__cart-description"></div>
                </div>
            {% endfor%}
             <!-- Пример наполнения должен происходить цикл-->
            <!-- <div class="carusel__cart pc-col-4">
                <img src="/img/carusel-1.png" alt="" class="carusel__cart-img">
                <div class="carusel__cart-description"></div>
            </div>
            <div class="carusel__cart pc-col-4">
                <img src="/img/carusel-2.png" alt="" class="carusel__cart-img">
                <div class="carusel__cart-description"></div>
            </div>
            <div class="carusel__cart pc-col-4">
                <img src="/img/carusel-3.png" alt="" class="carusel__cart-img">
                <div class="carusel__cart-description"></div>
            </div>                 -->
        </div>
        <div class="grid">
            <div class="empty pc-col-5"></div>
            <a href="#!" class="block__more pc-col-2">Узнать больше</a>
        </div>
    </div>
</div>