<div id="sights" class="block sights scroll-reveal opacity-start">
    <div class="block__background"></div>
    <div class="container">
        <div class="row block__header-row">
            <div class="col">
                <h2 class="block__header">Достопримечательности</h2>
            </div>
        </div>
        <div class="row">
            <div class="col carouserl-wraper">
                <div class="block__carousel">
                    {% for sight in sights%}
                    <div class="block__cart">
                        <a href="/sight/{{sight.id}}" class="sight__link block__link radius">
                            <img src="/media/{{ sight.images.all.0.img }}" alt="" class="block__cart-image radius">
                            <div class="block__cart-caption radius">
                                {{sight.title}}
                            </div>
                        </a>
                    </div>                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>